.btn { 
    margin: auto;
    background-color: #007bff; 
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container { 
    font-family: "Poppins", serif;
    border: 2px solid #006494;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 100%;
    margin: auto;
    background-color: #f9f9f9;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    font-family: Arial, sans-serif;
}

.form-group label {
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.875rem;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #5c9ded;
    outline: none;
    background-color: #fff;
}

.form-group textarea::placeholder {
    color: #aaa;
}

.form-group select {
    height: 35px;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .btn {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .form-group label {
        font-size: 0.875rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 12px;
    }

    .btn {
        width: 100%;
    }

    .form-group label {
        font-size: 0.8rem;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        font-size: 0.8rem;
    }
}
